name: Deploy in server
on:
  push:
    branches:
      - master

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@master
        with:
          debug: true
          host: ${{ secrets.NETCUP_SSH_HOST }}
          username: ${{ secrets.NETCUP_SSH_USERNAME }}
          key: ${{ secrets.NETCUP_SSH_KEY }}
          script: |
            cd /var/www/
            whoami
            pwd
            mkdir peyas_das
